<footer>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum fugit dignissimos non maiores dolorem ipsa vel, impedit, nostrum accusantium perspiciatis provident expedita iusto beatae rem. Voluptate illum odit assumenda.</p>
    <mat-divider></mat-divider>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Phone: +3670-6687-666
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
        Email: csikosbenedek@gmail.com
    </p>
</footer>
