<h1>Teachers</h1>

<div id="editTeacher" class="switchDisplay">
    <h2>Edit Teacher</h2>  

<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput
        [(ngModel)]="this.teacherToEdit.name">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Name of the teacher</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Neptun code</mat-label>
    <input matInput
        [(ngModel)]="this.teacherToEdit.neptun">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Neptun code of the teacher</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput
        disabled
        [(ngModel)]="this.teacherToEdit.id">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>ID of the teacher</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <input matInput
        [(ngModel)]="this.teacherToEdit.image">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Image link of the teacher</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Birth year</mat-label>
    <input matInput
        [(ngModel)]="this.teacherToEdit.birthYear">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Birth year of the teacher</mat-hint>
</mat-form-field>

<button class="btn" mat-flat-button color="accent" (click)="updateTeacher()">
    <mat-icon aria-hidden="false" aria-label="Save icon"  fontIcon="save"></mat-icon>
    Mentés
</button>
<button class="btn" mat-flat-button color="primary" (click)="hideEditView()">
    <mat-icon aria-hidden="false" aria-label="Cancel icon"  fontIcon="cancel"></mat-icon>
    Elvetés
</button>
</div>

<mat-card class="example-card" *ngFor="let teacher of teachers">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ teacher.name }}</mat-card-title>
            <mat-card-subtitle>{{ teacher.neptun }}</mat-card-subtitle>
            <img mat-card-sm-image [src]="teacher.image">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngIf="teacher.teachedSubjects.length > 0; else noElementsToDisplay">
            <button
                mat-stroked-button
                *ngFor="let subject of teacher.teachedSubjects"
                [routerLink]="['/update-subject/', subject.id]"
            >
                {{ subject.name }} - {{ subject.neptun }} - ({{ subject.credit }})
            </button>
        </div>
        <ng-template #noElementsToDisplay>
            There aren't any teached subjects.
        </ng-template>
        <mat-divider></mat-divider>
        <p class="teacher-id">{{ teacher.id }}</p>
        <mat-divider></mat-divider>
        <button
            mat-flat-button color="warn"
            (click)="sendToUpdate(teacher)"
            class="btnWidt"
        >
            <mat-icon aria-hidden="false" aria-label="Edit icon"  fontIcon="edit"></mat-icon>
            Módosítás
        </button>
    </mat-card-content>
</mat-card>

<div id="clear"></div>